/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #1e1e2ecc;
    background-alt: #f2cdcdff;
    foreground:     #f2cdcd;
    selected:       #f5e0dcff;
    active:         #ABE9B3FF;
    urgent:         #F28FADFF;
}
